html, body, #root {
	height: 100%;
	background: #f7f7f7;
	margin: 0;
}

@font-face {
	font-family: 'Oswald';
	src: url('../fonts/oswald/Oswald-Bold.otf');
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/ubuntu/Ubuntu-C.ttf');
}

body, button, input {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

.btn-action {
	flex: 0 0;
	margin: 16px auto;
	padding: 8px;
	border: none;
	border-radius: 8px;
	color: white;
	width: 100%;
	cursor: pointer;
}

.text-center {
	text-align: center;
}
